body{
  font-family: sans-serif;
  
}
h1{
  margin: 20px;

}
.content{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 10px;
  
}
.sec1{
  width: 30%;
  padding: 10px;
}
.sec2{
box-shadow: 2px 2px 20px #97bad1;
  width: 62%;
  text-align: center;
}